.container {
  background-color: #131313;
  padding: 20px 100px;
  max-width: 100%;
  height: 100%;
  position: relative;
  min-height: 100vh;
  padding-top: 120px;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
}
.route {
  flex: 0 0 20%;
  width: 20%;
  margin: 10px 0;
  text-decoration: none;
  color: white;
  font-size: 25px;
  padding: 0 5px;
  line-height: 1.5;
  box-sizing: border-box;
}
.route:hover {
  color: #f9d633;
}
.heading {
  color: #4f4c49;
  font-size: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
}
.heading h1 {
  padding-top: 20px;
}
.logo {
  background-image: url("../../static/game-of-thrones-logo-_1.png");
  max-width: 600px;
  width: 100%;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 auto;
  z-index: 2;
}
.search {
  width: 100%;
  border-radius: 25px;
  color: white;
  margin-top: 20px;
  font-size: 28px;
  background-color: transparent;
  padding: 10px 20px;
  font-family: "Game of Thrones";
  border: 2px solid rgba(255, 255, 255, 0.5) !important ;
  background-image: url("/searchimg.png");
  background-position: 99% center;
  background-repeat: no-repeat;
  background-size: contain;
}
.search:focus {
  outline: transparent;
}
@media only screen and (max-width: 660px) {
  .search {
    width: 100%;
  }
  .container {
    padding: 90px 10px;
  }
  .heading h1 {
    font-size: 30px;
  }
  .route {
    flex: 0 0 50%;
    width: 50%;
  }
  .wrapper {
    padding: 0 20px;
  }
  .wrapper a {
    font-size: 17px;
  }
  .logo {
    width: 85%;
  }
  .search {
    font-size: 20px;
  }
}
