.container {
  display: inline-block;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #131313;
  align-items: center;
  padding: 90px 80px;
  padding-top: 120px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.wrapper h1 {
  padding-bottom: 30px;
}
.card {
  display: flex;
  flex-direction: row;
  line-height: 1.8;
  flex-wrap: wrap;
  position: relative;
  padding-bottom: 20px;
  height: 100%;
  transition: height 0.4s all ease;
}
.card:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-image: url("/House Stark of Winterfell.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.card a {
  z-index: 10;
  width: 20%;
  color: white;
  padding-bottom: 5px;
  text-decoration: none;
}
.card a:hover {
  color: #f9d633;
}

.wrapper:nth-child(4) .card:before {
  background-image: url("/House Lannister of Casterly Rock.svg");
}
.wrapper:nth-child(5) .card:before {
  background-image: url("/House Targaryen of King's Landing.svg");
}
.wrapper:nth-child(6) .card:before {
  background-image: url("/House Greyjoy of Pyke.svg");
}
.wrapper:nth-child(7) .card:before {
  background-image: url("/House Tyrell of Highgarden.svg");
}
.wrapper:nth-child(8) .card:before {
  background-image: url("/House Baratheon of Storm's End.svg");
}

.wrapper:nth-child(9) .card:before {
  background-image: url("/House Nymeros Martell of Sunspear.svg");
}
.wrapper:nth-child(10) .card:before {
  background-image: url("/House Tully of Riverrun.svg");
}
.wrapper:nth-child(11) .card:before {
  background-image: url("/House Arryn of the Eyrie.svg");
}
.container h1 {
  padding: 20px;
}
.allCharacters {
  text-decoration: none;
  color: white;
  font-size: 20px;
  border: 2px solid white;
  padding: 10px 10px;
  border-radius: 50px;
}
.allCharacters:hover {
  color: #f9d633;
  border-color: #f9d633;
}

.showBtn {
  background: none;
  color: white;
  font-family: "Game of Thrones";
  border: none;
  position: relative;
  cursor: pointer;
}
.showBtn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  top: 50%;
  left: 110%;
}

.showBtn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  top: 50%;
  right: 110%;
}
.showBtn:hover {
  color: #f9d633;
}
.showBtn:hover::after {
  background-color: #f9d633;
}
.showBtn:hover::before {
  background-color: #f9d633;
}
@media only screen and (max-width: 660px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .container h1 {
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
  }
  .card {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .card a {
    width: 48%;
    font-size: 15px;
    line-height: 1.4;
    padding-bottom: 10px;
  }
  .allCharacters {
    font-size: 15px;
    text-align: center;
  }
}
